ETL [Extract -- Transform -- Load]

In [ ]:
import pandas as pd

# Extract
customers = pd.read_csv('/content/g_dim_customers.csv', encoding='latin1')
products = pd.read_csv('/content/g_dim_products.csv', encoding='latin1')
sales = pd.read_csv('/content/g_fact_sales.csv', encoding='latin1')


print("âœ… Files loaded")

# Inspect and Clean (Transform)
print("\nðŸ‘‰ Customers sample:")
print(customers.head())

print("\nðŸ‘‰ Products sample:")
print(products.head())

print("\nðŸ‘‰ Sales sample:")
print(sales.head())

# Check for missing data
print("\nMissing values in Customers:")
print(customers.isnull().sum())

print("\nMissing values in Products:")
print(products.isnull().sum())

print("\nMissing values in Sales:")
print(sales.isnull().sum())

# Example cleaning:
# Remove duplicates
customers = customers.drop_duplicates()
products = products.drop_duplicates()
sales = sales.drop_duplicates()

# Convert dates if present
if 'order_date' in sales.columns:
    sales['order_date'] = pd.to_datetime(sales['order_date'], errors='coerce')
if 'ship_date' in sales.columns:
    sales['ship_date'] = pd.to_datetime(sales['ship_date'], errors='coerce')

# Example derived feature: shipping days
if 'order_date' in sales.columns and 'ship_date' in sales.columns:
    sales['shipping_days'] = (sales['ship_date'] - sales['order_date']).dt.days

âœ… Files loaded

ðŸ‘‰ Customers sample:
   customer_key  customer_id customer_number first_name last_name    country  \
0             1        11000      AW00011000        Jon      Yang  Australia
1             2        11001      AW00011001     Eugene     Huang  Australia
2             3        11002      AW00011002      Ruben    Torres  Australia
3             4        11003      AW00011003    Christy       Zhu  Australia
4             5        11004      AW00011004  Elizabeth   Johnson  Australia

   gender marital_status  birth_date  create_date
0    Male        Married  1971-10-06  10/6/2025\r
1    Male         Single  1976-05-10  10/6/2025\r
2    Male        Married  1971-02-09  10/6/2025\r
3  Female         Single  1973-08-14  10/6/2025\r
4  Female         Single  1979-08-05  10/6/2025\r

ðŸ‘‰ Products sample:
   product_key  product_id product_number               product_name  \
0            1         210     FR-R92B-58  HL Road Frame - Black- 58
1            2         211     FR-R92R-58    HL Road Frame - Red- 58
2            3         348     BK-M82B-38     Mountain-100 Black- 38
3            4         349     BK-M82B-42     Mountain-100 Black- 42
4            5         350     BK-M82B-44     Mountain-100 Black- 44

  category_id    category    sub_category maintenance product_ine  cost  \
0       CO_RF  Components     Road Frames       Yes\r        Road     0
1       CO_RF  Components     Road Frames       Yes\r        Road     0
2       BI_MB       Bikes  Mountain Bikes       Yes\r    Mountain  1898
3       BI_MB       Bikes  Mountain Bikes       Yes\r    Mountain  1898
4       BI_MB       Bikes  Mountain Bikes       Yes\r    Mountain  1898

   start_date
0  2003-07-01
1  2003-07-01
2  2011-07-01
3  2011-07-01
4  2011-07-01

ðŸ‘‰ Sales sample:
  order_number  customer_key  product_key  order_date shipping_date  \
0      SO43697         10769           20  2010-12-29    2011-01-05
1      SO43698         17390            9  2010-12-29    2011-01-05
2      SO43699         14864            9  2010-12-29    2011-01-05
3      SO43700          3502           41  2010-12-29    2011-01-05
4      SO43701             4            9  2010-12-29    2011-01-05

     due_date  sales  quantity  price
0  2011-01-10   3578         1   3578
1  2011-01-10   3400         1   3400
2  2011-01-10   3400         1   3400
3  2011-01-10    699         1    699
4  2011-01-10   3400         1   3400

Missing values in Customers:
customer_key         0
customer_id          0
customer_number      0
first_name           4
last_name            3
country            337
gender              15
marital_status       3
birth_date          16
create_date          0
dtype: int64

Missing values in Products:
product_key        0
product_id         0
product_number     0
product_name       0
category_id        0
category           7
sub_category       7
maintenance        7
product_ine       17
cost               0
start_date         0
dtype: int64

Missing values in Sales:
order_number      0
customer_key      0
product_key       0
order_date       19
shipping_date     0
due_date          0
sales             0
quantity          0
price             0
dtype: int64

In [ ]:
#know about columns in dataset
print("Sales columns:", sales.columns.tolist())
print("Customers columns:", customers.columns.tolist())
print("Products columns:", products.columns.tolist())

Sales columns: ['order_number', 'customer_key', 'product_key', 'order_date', 'shipping_date', 'due_date', 'sales', 'quantity', 'price']
Customers columns: ['customer_key', 'customer_id', 'customer_number', 'first_name', 'last_name', 'country', 'gender', 'marital_status', 'birth_date', 'create_date']
Products columns: ['product_key', 'product_id', 'product_number', 'product_name', 'category_id', 'category', 'sub_category', 'maintenance', 'product_ine', 'cost', 'start_date']

In [ ]:
# Merge
df = sales.merge(customers, on='customer_key', how='left') \
          .merge(products, on='product_key', how='left')

print("\nâœ… Final merged dataset shape:", df.shape)

# Check missing values
print("\nMissing values in final dataset:")
print(df.isnull().sum())

# Fill numeric NaNs with 0
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    df[col] = df[col].fillna(0)

# Fill object NaNs with 'Unknown'
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna('Unknown')

# Sample
print("\nðŸ‘‰ Cleaned data sample:")
print(df.head())

# Export
df.to_csv('cleaned_sales_data.csv', index=False)
print("\nâœ… Cleaned dataset exported to: cleaned_sales_data.csv")

âœ… Final merged dataset shape: (60398, 28)

Missing values in final dataset:
order_number         0
customer_key         0
product_key          0
order_date          19
shipping_date        0
due_date             0
sales                0
quantity             0
price                0
customer_id          0
customer_number      0
first_name           6
last_name            6
country            871
gender              33
marital_status       4
birth_date          78
create_date          0
product_id           0
product_number       0
product_name         0
category_id          0
category             0
sub_category         0
maintenance          0
product_ine          0
cost                 0
start_date           0
dtype: int64

ðŸ‘‰ Cleaned data sample:
  order_number  customer_key  product_key order_date shipping_date  \
0      SO43697         10769           20 2010-12-29    2011-01-05
1      SO43698         17390            9 2010-12-29    2011-01-05
2      SO43699         14864            9 2010-12-29    2011-01-05
3      SO43700          3502           41 2010-12-29    2011-01-05
4      SO43701             4            9 2010-12-29    2011-01-05

     due_date  sales  quantity  price  customer_id  ... product_id  \
0  2011-01-10   3578         1   3578        21768  ...        310
1  2011-01-10   3400         1   3400        28389  ...        346
2  2011-01-10   3400         1   3400        25863  ...        346
3  2011-01-10    699         1    699        14501  ...        337
4  2011-01-10   3400         1   3400        11003  ...        346

  product_number             product_name category_id category  \
0     BK-R93R-62         Road-150 Red- 62       BI_RB    Bikes
1     BK-M82S-44  Mountain-100 Silver- 44       BI_MB    Bikes
2     BK-M82S-44  Mountain-100 Silver- 44       BI_MB    Bikes
3     BK-R50B-62       Road-650 Black- 62       BI_RB    Bikes
4     BK-M82S-44  Mountain-100 Silver- 44       BI_MB    Bikes

     sub_category maintenance product_ine  cost  start_date
0      Road Bikes       Yes\r        Road  2171  2011-07-01
1  Mountain Bikes       Yes\r    Mountain  1912  2011-07-01
2  Mountain Bikes       Yes\r    Mountain  1912  2011-07-01
3      Road Bikes       Yes\r        Road   487  2012-07-01
4  Mountain Bikes       Yes\r    Mountain  1912  2011-07-01

[5 rows x 28 columns]

âœ… Cleaned dataset exported to: cleaned_sales_data.csv